.Background{
  background-color: cornflowerblue;
  height: 100vh;
  padding: .5rem;
  box-sizing: border-box;
}
.AppBody {
  text-align: center;
  background-color: white;
  height: 100%;
}
.TopBar{
  display: flex;
  gap: 50rem;
  justify-content: center;
}
.Image{
  height: 600px;
  background-color: darkgoldenrod;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  padding-top: 4rem;
}
.Photo{
  height: 600px;
  width: 900px;
}
.BottomBar{
  display: flex;
  height: 150px;
  background-color: crimson;
  justify-content: center;
  align-items: center;
  gap: 30rem;
}
